/* ----------------------- FAILURE ----------------------- */
/* State*/
body #wrapper .content .err div {
    background-color : var(--bg_color-red, red) !important;
}
body #wrapper .content .sign_in ul li span {
    color            : var(--bg_color-red, red);
}
body #wrapper .content .sign_in ul li span:before {
    color            : var(--bg_color-red, red);
    content          : "null";
}
body #wrapper .content .sign_in .err button:last-child {
    display          : none !important;
}