/* ----------------------- USERS ----------------------- */
/* List Wrapper */
body #wrapper .content .sign_in .users {
    text-align              : center;
}
/* Text */
body #wrapper .content .sign_in .users li {
    border-bottom           : 1px
                              var(--bg_color-darkslategray, darkslategray)
                              dotted;
}
body #wrapper .content .sign_in .users li:before {
    color                   : var(--text_color-steelblue, steelblue);
    content                 : "@";
    opacity                 : .8;
}
body #wrapper .content .sign_in .users li:last-child {
    border-bottom           : none;
}
body #wrapper .content .sign_in .users li:hover {
    background-color        : var(--bg_color-skyblue, skyblue);
    cursor                  : pointer;
    opacity: .6;
}