/* BEGIN > WRAPPER STYLES */
body #wrapper .content .sign_in {
    box-shadow              : 0 4px 10px 0 rgba(0, 0, 0, 0.2),
                              0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color        : var(--bg_color-lavender, lavender);
    display                 : block;
    font-family             : Geneva, Tahoma, sans-serif;
    overflow                : hidden;
    width                   : 100%;
}
/* Text paragraphs */
body #wrapper .content .sign_in p {
    font-family             : Geneva, Tahoma, sans-serif;
    font-size               : 2.5vmax;
    overflow                : hidden;
    padding                 : .8rem 1em .1rem 1em;
    text-align              : left;
}
/* State*/
body #wrapper .content .sign_in div {
    background-color        : var(--bg_color-mediumseagreen, mediumseagreen);
    border                  : none;
    color                   : var(--text_color-white, white);
    display                 : block;
    white-space             : normal;
    width                   : 100%;
}
body #wrapper .content .sign_in div p {
    font-family             : Geneva, Tahoma, sans-serif;
    font-size               : 2.5vmax;
    overflow                : hidden;
    padding                 : .8em ;
    text-align              : left;
}
/* List Wrapper */
body #wrapper .content .sign_in ul {
    display                 : block;
}
/* Text */
body #wrapper .content .sign_in ul li {
    font-size               : 1.5rem;
    margin                  : .5rem auto    !important;
    margin                  : 0 auto        !important;
    opacity                 : .6;
    overflow                : hidden;
    padding                 : .2em;
    width                   : 90%;
}
body #wrapper .content .sign_in ul li:before {
    color                   : var(--text_color-dimgrey, dimgrey);
    content                 : "-";
    opacity                 : .8;
}
/* Buttons */
body #wrapper .content .sign_in nav {
    background-color        : inherit;
    display                 : block;
    font-size               : 1.4vmax;
    margin                  : 1rem 3%;
    overflow                : hidden;
    text-align              : center;
    white-space             : normal;
}
body #wrapper .content .sign_in nav button {
    background-color        : var(--bg_color-mediumseagreen, mediumseagreen);
    border                  : none;
    border-radius           : 7px;
    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    -ms-border-radius       : 7px;
    -o-border-radius        : 7px;
    color                   : var(--text_color-white, white);
    cursor                  : pointer;
    font-size               : 1.4vmax;
    margin                  : 0 5%;
    min-width               : 35%;
    overflow                : hidden;
    padding                 : .8em;
}
body #wrapper .content .sign_in nav button:hover {
    background-color        : var(--bg_color-forestgreen, forestgreen)   !important;
    box-shadow              : 0 7px 5px 0 var(--shadow_color-steelblue),
                              0 3px 4px 0 var(--shadow_color-steelblue);
}
/* END > WRAPPER STYLES */