<?xml version    = "1.0"
      encoding   = "UTF-8"
?>

<web-app xmlns              = "http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "http://xmlns.jcp.org/xml/ns/javaee
                               http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version = "4.0"
>
<!--  **Variable** | **Value example**  -->
<!--    -: | :- -->
<!--    ${java.home} | C:\Users\Сергей Владимирович\OneDrive\Desctop\001_PROJECTS_\001_Java_Projects_\env\OpenJDK_v.11-->
<!--    ${os.name} | Windows 10                  -->
<!--    ${os.version} | 10                          -->
<!--    ${os.arch} | amd 64                      -->
<!--    ${file.separator} | \ or /                      -->
<!--    ${path.separator} | ;                           -->
<!--    ${line.separator} | [space]                     -->
<!--    ${java.version} | 11                          -->
<!--    ${java.vendor} | Oracle Corporation          -->
<!--    ${java.vendor.url} | http://java.oracle.com/     -->
<!--    ${java.class.version} | 55.0                        -->
<!--    ${java.specification.version} | 11 -->
<!--    ${java.specification.vendor} | Oracle Corporation -->
<!--    ${java.specification.name} | Java Platform API Specification -->

<!--    ${java.vm.specification.version} | 11 -->
<!--    ${java.vm.specification.vendor} | Oracle Corporation -->
<!--    ${java.vm.specification.name} | Java Virtual Machine Specification -->
<!--    ${java.vm.version} | 11+28 -->
<!--    ${java.vm.vendor} | Oracle Corporation -->
<!--    ${java.vm.name} | OpenJDK 64-Bit Server VM    -->
    


    <context-param>
        <param-name>CONTEXT_PARAMS</param-name>
        <param-value>${catalina.base}/WEB-INF/classes/data/visit.dat</param-value>
    </context-param>

    <servlet>
        <servlet-name>HitCounterServlet</servlet-name>
        <servlet-class>pro.yoric.HitCounter.HitCounterServlet</servlet-class>
        <init-param>
           <param-name>WEB_FILE_PATH</param-name>
           <!--param-value>/WEB-INF/classes/data/visit.dat</param-value-->
           <!--param-value>/resources/data/visit.dat</param-value-->
            <param-value>${java.vm.vendor}</param-value>
<!--           <param-value>${catalina.base}${file.separator}webapps${line.separator}WEB-INF${file.separator}classes${file.separator}data${file.separator}visit.dat ${os.version}</param-value>-->
           <!--param-value>C:\\Users\\Сергей Владимирович\\OneDrive\\Desctop\\001_PROJECTS_\\001_Java_Projects_\\#_HOMEWORKS_\\#_JavaEnterprise_\\jd2_homework\\task9_m2\\src\\main\\resources\\data\\visit.dat</param-value-->
         </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HitCounterServlet</servlet-name>
        <url-pattern>/task9m2</url-pattern>
    </servlet-mapping>

</web-app>