@charset "utf-8";

@import url('reset.css');
@import url('color_scheme.css');

:root{
    
    /* --------------------- COLOR SCHEME ---------------------- */

    /* BACKGROUND */
    --bg_color-white                  : rgb(255, 255, 255); /* #ffffff */
    --bg_color-whitesmoke             : rgb(245, 245, 245); /* #f5f5f5 */
    --bg_color-moccasin               : rgb(255, 228, 181); /* #FFE4B5 */
    --bg_color-steelblue              : rgb(70,  130, 180); /* #4682b4 */

    /* TEXT */
    --text_color-black                : rgb(0,   0,   0);   /* #000000 */
}


html body {
    background-color        : var(--bg_color_whitesmoke, whitesmoke);
    max-height              : 80%;
}

body #wrapper {
    position                : relative;
}

body #wrapper header {
    background-color        : var(--bg_color-moccasin, moccasin);
    display                 : block;
    font-weight             : 700;
    text-align              : center;
}

body #wrapper header h1 {
    color                   : var(--text_color_black, black);
    font-family             : sans-serif;
    font-size               : 5vmax;
    font-style              : oblique;
    padding                 : 20px 0;
}

body #wrapper .content p{
    display                 : block;
    font-weight             : 700;
    font-size               : 50px;
    padding-top             : 30%;
    text-align              : center;
}

body #wrapper .content p img{
    background-color        : var(--bg_color_whitesmoke, whitesmoke);
}

body .content {
    background-color        : var(--bg_color-white, white);
	padding-bottom          : 30%;
}

body footer {
    background-color        : var(--bg_color-steelblue, steelblue);
    padding                 : 1%;
    text-align              : center;
}

body footer p b {
    font-weight             : 700;
}